h1 {
    text-align: center;
}

#photo-template img {
    max-width: 100%;
    border-radius: 50px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#photo-template {
    border: 1px solid #ccc;
    margin: 1rem;
    padding: 2rem;
    max-width: 350px;
}

footer {
    clear: both;
}
